{% extends 'base.html' %}

{% block content%}
    <div class="container">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Precios</h1>
            <p class="fs-5 text-body-secondary">vmklmkldss</p>
        </div>
        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Gratuita</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mes</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                    <li>10 usuarios incluido</li>
                    <li>2 GB de almacenamiento</li>
                    <li>Soporte de correo</li>
                    <li>Acceso al centro de ayuda</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Ingrese aqui</button>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Pro</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mes</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                    <li>20 usuarios incluidos</li>
                    <li>10 GB de almacenamiento</li>
                    <li>Soporte prioritario por correo electrónico</li>
                    <li>Acceso al centro de ayuda</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">Comienza aquí</button>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Empresas</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mes</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                    <li>30 usuarios incluidos</li>
                    <li>15 GB de almacenamiento</li>
                    <li>Soporte telefónico y por correo electrónico</li>
                    <li>Acceso al centro de ayuda</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">Contáctanos</button>
                </div>
                </div>
            </div>
            </div>
        </main>
        {% include 'action_buttons.html' %}
    </div>
{%endblock%}